<?xml version="1.0" encoding="UTF-8"?>
<jnlp spec="1.0+" codebase="http://maven-repository.accada.org/releases/org/accada/epcis/epcis-captureclient/0.2.0/" href="epcis-captureclient.jnlp">
  <information>
    <title>Accada EPCIS Capture Client GUI</title>
    <vendor>Auto-ID Lab St. Gallen / Zurich</vendor>
    <homepage href="http://www.accada.org/" />
    <description>Generic GUI client to interact with an EPCIS Capture Interface</description>
  </information>
  <offline-allowed/>
  <resources>
    <j2se version="1.5+" />
    <jar href="epcis-captureclient-0.2.0-SNAPSHOT.jar"/>
  </resources>
  <application-desc main-class="$mainClass" />
</jnlp>
