<?xml version="1.0" encoding="UTF-8"?>
<jnlp spec="1.0+" codebase="http://www.fosstrak.org/epcis/epcis-captureclient/webstart/" href="$outputFile">
  <information>
    <title>Fosstrak EPCIS Capture Client</title>
    <vendor>fosstrak.org</vendor>
    <homepage href="http://www.fosstrak.org/" />
    <description>Generic GUI client to interact with an EPCIS Capture Interface</description>
  </information>
  <offline-allowed/>
  <resources>
    <j2se version="1.5+" />
    $dependencies
  </resources>
  <security>
    <all-permissions/>
  </security>
  <application-desc main-class="$mainClass" />
</jnlp>
