<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app 
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>EPCIS Repository</display-name>

  <context-param>
    <param-name>appConfigLocation</param-name>
    <param-value>WEB-INF/classes/application.properties</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>META-INF/applicationContext.xml</param-value>
  </context-param>

  <listener>
    <listener-class>org.fosstrak.epcis.repository.RepositoryContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <servlet>
    <!-- CXFServlet providing the Query Interface Endpoint -->
    <servlet-name>EpcisQueryInterface</servlet-name>
    <description>
      This servlet dispatches EPCIS query requests to the Web service framework
      for processing of the query according to the SOAP/HTTP Binding for the
      Query Control Interface (EPCglobal EPCIS Specification Section 11.2).
    </description>
    <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <!-- CaptureOperationsModule servlet providing the Capture Interface -->
    <servlet-name>EpcisCaptureInterface</servlet-name>
    <description>
      This servlet captures EPCIS events sent in HTTP POST requests. The POST
      data payload must contain an XML formatted EPCISDocument according to the
      schema for core event types (EPCglobal EPCIS Specification Section 9.5).
    </description>
    <servlet-class>org.fosstrak.epcis.repository.capture.CaptureOperationsServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <!--
  <servlet>
    <servlet-name>epcisRepository</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  -->

  <servlet-mapping>
    <!-- The capture servlet will be available at http://{url:port}/{context-path}/capture -->
    <servlet-name>EpcisCaptureInterface</servlet-name>
    <url-pattern>/capture</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <!-- The query Web service will be available at http://{url:port}/{context-path}/query -->
    <servlet-name>EpcisQueryInterface</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

  <session-config>
    <session-timeout>5</session-timeout>
  </session-config>

  <mime-mapping>
    <extension>wsdl</extension>
    <mime-type>text/xml</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>xsd</extension>
    <mime-type>text/xml</mime-type>
  </mime-mapping>

  <welcome-file-list id="WelcomeFileList">
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
 
  <resource-ref>
    <res-ref-name>jdbc/EPCISDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

</web-app>
