<?xml version="1.0" encoding="UTF-8"?>
<jnlp spec="1.0+" codebase="http://www.accada.org/epcis/epcis-queryclient/webstart/" href="$outputFile">
  <information>
    <title>Accada EPCIS Query Client</title>
    <vendor>accada.org</vendor>
    <homepage href="http://www.accada.org/" />
    <description>Generic GUI client to interact with an EPCIS Query Interface</description>
  </information>
  <offline-allowed/>
  <resources>
    <j2se version="1.5+" />
    $dependencies
  </resources>
  <security>
    <all-permissions/>
  </security> 
  <application-desc main-class="$mainClass" />
</jnlp>
